.banner {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__banner {
    width: 50%;
    text-align: center;
}

.banner__title_primary {
    color: var(--red);
    font-weight: 600;
}

.banner__title_secundary {
    font-size: 48px;
    font-weight: 600;
    margin: 24px 0 36px;
}

.banner__paragraph {
    color: var(--gray-500); 
    line-height: 30px;
}