@import url(./header.css);
@import url(./banner.css);
@import url(./vagas.css);
@import url(./testimonials.css);
@import url(./footer.css);

:root {
    --red: #8E2424;
    --gray-900: #101828;
    --gray-500: #667085;
    --bg-main: #FFF;
    --bg-transparent: rgba(196, 25, 25, 0.03);
    --bg-footer: #F9FAFB;
}

#body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

section {
    margin-bottom: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
}